#banner {
 background: url('../images/jumbotron.png') no-repeat center center;
 position: absolute;
 width: 100%;

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;

 height:100vh;
 top:0;
 left:0;
 z-index: -1;
}

.jumbotron {
  height:100vh;
  color: #fff;
  text-shadow: #444 0 1px 1px;
  margin-bottom: 0px;
  background:transparent;
  font-family: 'Montserrat', sans-serif;
}

.jumbotron .img-circle-polygon{
  padding-top: 20vh;
  width: 20%;
}

.container-fluid {
  padding: 50px 0px;
  padding-left: 7%;
  padding-right: 7%;
}

.bg-grey {
  background-color: #f6f6f6;
}

.img-circle{
  width: 80%
}

.about_pic{
  text-align: center;
}

.headers{
  padding-top: 18vh;
  color: white;
  font-size: 48px;
  text-shadow: #444 0 1px 1px;
}

#projects{
  background: url('../images/project_banner.png') no-repeat center center;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height:40vh;
  top:0;
  left:0;
  z-index: -1;
}

#project_jumbotron{
  height: 50vh;
}

.project-img{
  width: 80%;
}

#ai.project-img{
  padding-top: 50px;
}

hr{
  border-top-color: #0000004f
}

#photos{
  background: url('../images/photos_banner.jpg') no-repeat center center;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  height:40vh;
  top:0;
  left:0;
  z-index: -1;
  

}