*{
  margin: 0px;
  padding: 0px;
  font-family: 'Catamaran', sans-serif;
}

/* Navbar styling from
https://www.w3schools.com/css/css_navbar.asp */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #333333;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a.active {
    background-color: #ff4d4d;
    color: white;
}

body{
  background-color: #f2f2f2;
}

.canvas{
  padding-left: 175px;
  padding-top: 20px;
  padding-right: 20px;
}

.text{
  padding-right: 80px;
}

.text p{
  padding-bottom: 30px;
}

#gallery_text{
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
  font-family: 'Domine', serif;
  font-size: 3em;
  font-weight: bolder;
}

.proj_head{
  font-family: 'Domine', serif;
  font-size: 2em;
}

.italic{
  font-style: italic;
}

h2{
  margin-top: 20px;
}

p{
  font-size: 20px;
}


.pic_me{
  padding-left: 20px;
  width: 43%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.proj_pic{
  padding-top: 10px;
  width: 85%;
}

footer{
  padding-top: 75px;
}

.smpl_img{
  width: 32%;
  padding-right: 5px;
  height: auto;
}

.tab, #fb{
  padding-left: 30px;
}

#email{
  font-size: 20px;
}
